.transactions {
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 4px 8px rgba(240, 240, 240, 0.4);
    margin-left: 20px;
    width: 800px;
}

.head {
    background-color: rgb(34, 139, 139);
    color: white;
}

.head th {
    padding: 20px;
}

.record:nth-child(even) {
    background-color: lightgrey;
}